{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css.css' %}">
    <title>Bodeu, your dashboard app</title>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'home/BodeuLogo.png' %}" width="38" height="47"
                 class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% block bar %}
            {% endblock %}
        </div>

    </nav>

    <div class="space"></div>

    <div class="container">
        {% block content %}Nothing Here{% endblock %}
    </div>


{% endblock %}

<div class="footer">
    <small> Bodeu &copy;2018</small>
    <a
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            class="social twitter">
        Twitter
    </a>
    <a
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            class="social facebook">
        Facebook
    </a>
</div>