{% extends '../home/base.html' %}

{% block bar %}
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/dashboard/">Dashboards <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Team</a>
        <a class="nav-item nav-link" href="/logout/">Logout</a>
    </div>
{% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello {{ request.session.username }},</h1>
            <p class="lead">Create and modify your boards.</p>
        </div>
    </div>

    <div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags == 'error' %} class="alert alert-danger" {% else %}
                                                      class="alert alert-success" {% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form class="form-inline" method="post" action="create/">
            {% csrf_token %}
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" name="name"
                       placeholder="Name of the board">
                <label class="sr-only" for="inlineFormInput">Description</label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" name="description"
                       placeholder="Description">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
    {% if boards|length == 0 %}
        <div class="no-boards"> Come on, create your first board!</div>
    {% endif %}
    </div>

    <section class="body-dashboard">
        <div class="grid-container">
            {% for board in boards %}
                <div class="grid-item">
                    <div class="board-card board-card-border board-card-shadow">
                        <a href="/dashboard/{{ board.id }}"/>
                        <div>
                            <div class="board-card-header">
                                {{ board.name }}
                            </div>
                            <div class="board-card-content">
                                {{ board.description }}
                            </div>
                            </a>
                            <div class="board-card-footer">
                                <form action="{{ board.id }}/delete/" method="get">
                                    <button type="submit" class="btn btn-secondary button-fullsize">Delete</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
